@font-face {
  font-family: "Tajawal";
  src: url(./fonts/Tajawal-Regular.ttf);
}
* {
  font-family: "Tajawal", sans-serif !important;
}
.page_container {
  width: 100%;
  height: 100%;
}

.full_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.alignItem {
  align-items: center;
}

cursor {
  cursor: pointer;
}

.category_card {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  transition: all 0.5s ease;
}

.category_card :hover .category_container_name {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.category_container_name {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.category_container_name p {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding-block: 3px;
  font-weight: bold;
}
.product_card {
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  transition: all 0.5s ease;
}
.card_filter_container {
}

.product_container_img {
  width: 130px;
  height: 150px;
  border-radius: 10px;
}

.header {
  height: 40px;
  border-block: 1px solid lightgray;
}
.header p {
  font-size: 15px;
  font-weight: bold;
  color: #1e2226;
}

.black_color {
  color: #1e2226;
}

.card_item {
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  transition: all 0.5s ease;
}

.input_style {
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  border: none !important;
}

.checkbox_container {
  font-weight: bold !important;
}

.form-control:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px !important;
  border: none !important;
  outline: none !important;
  border: none !important;
}

.form-control :active {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px !important;
  border: none !important;
  outline: none !important;
  border: none !important;
}
.form-control :focus {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px !important;
  border: none !important;
  outline: none !important;
  border: none !important;
}

.clear_container {
  font-size: 18px;
}

.add_btn {
  background-color: #4d9ee5;
  color: #fff;
  font-weight: bold;
  border: none;
  margin-inline-start: 5px;
}
